:root {
    --corPrincipal: black;
    --corFundo: rgb(109, 108, 108);
    --corTexto: rgb(255, 255, 255);
    --corBotao: rgb(50, 71, 71);
    --corBorda: rgb(0, 0, 0);
    --corHover: rgb(95, 95, 95);
}

body {
    background-color: var(--corFundo);
    color: var(--corTexto);
}

.fase {
    width: 1000px;
    height: 600px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 15px solid var(--corBorda);
    position: relative;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.menuInterativo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 35px;
}

.menuInterativo button {
    font-size: 33px;
    background-color: var(--corBotao);
    color: white;
    border-radius: 10px;
    border: none;
}

.fase .robertoStatic {
    width: 100px;
    height: 100px;
}

.selecionarUtensilios {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.item.bolsa {
    width: 320px;
    height: 190px;
}

.item {
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item:hover {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.2);
}

.item:not(:hover) {
    opacity: 0.7;
}

.adicionou-imagens {
    background-color: var(--corHover);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.heart .coracao {
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: row;
    animation: tamanhoInfinito 2s infinite;
}

.timeLapse {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

#playButton {
    background-color: black;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: transform 1s;
    box-shadow: 0px 0px 5px 5px white;
}

.fase .betoBattle {
    width: 250px;
    height: 250px;
}

/* .fase.robertoBattle{
} */

.heartBeto {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
}

.heartBeto .coracao {
    width: 70px;
    height: 35px;
    display: block; /* Certifique-se de que cada elemento é um bloco separado */
    animation: tamanhoInfinito 2s infinite;
}


#playButton:hover {
    transform: scale(1.05);
    transition: transform 1s;
}

.menuInterativo .batalha {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.jogavel {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    animation: peixeJogado 1s linear infinite;
}

.jogavel.peixe{
    transform: translateX(-50%);
    animation: peixeJogado 1s linear infinite;
}

.jogavel.sabre{
    transform: translateX(-50%);
    animation: sabreJogado 1s linear infinite;
}

@keyframes peixeJogado {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes sabreJogado {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes tamanhoInfinito {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
